<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/2002/xmlspec/dtd/2.10/xmlspec.dtd">
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">
			
	<!-- 定义数据源的信息 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="jdbcUrl">
			<value>jdbc:mysql://localhost:3306/jmonitor_db</value>
		</property>
		<property name="user">
			<value>root</value>
		</property>
		<property name="password">
			<value>root</value>
		</property>
		<property name="maxPoolSize">
			<value>80</value>
		</property>
		<property name="minPoolSize">
			<value>1</value>
		</property>
		<property name="initialPoolSize">
			<value>1</value>
		</property>
		<property name="maxIdleTime">
			<value>20</value>
		</property>
	</bean>

	<!--Hibernate的SessionFactory -->
	<!-- SessionFactory使用的数据源为上面的数据源 -->
	<!-- 指定了Hibernate的映射文件和配置信息 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingResources">
			<list>
				<value>com/win2er/jmonitor/beans/UserBean.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
                <!-- <prop key="hibernate.current_session_context_class">thread</prop>  -->
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
		
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/> 

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
	    <tx:attributes>
	        <tx:method name="*" propagation="REQUIRED" read-only="true"/>
	        <tx:method name="get*" propagation="REQUIRED" read-only="true" />
	        <tx:method name="find*" propagation="REQUIRED" read-only="true" />
	        <tx:method name="list*" propagation="REQUIRED" read-only="true" />
	        <tx:method name="load*" propagation="REQUIRED" read-only="true" />
	        <tx:method name="save*" propagation="REQUIRED" rollback-for="Exception" />
	        <tx:method name="add*" propagation="REQUIRED" rollback-for="Exception" />
	        <tx:method name="save" propagation="REQUIRED" rollback-for="Exception" />
	        <tx:method name="update*" propagation="REQUIRED" rollback-for="Exception" />
	        <tx:method name="update" propagation="REQUIRED" rollback-for="Exception" />
	        <tx:method name="delete*" propagation="REQUIRED" rollback-for="Exception" />
	        <tx:method name="delete" propagation="REQUIRED" rollback-for="Exception" />
	        <tx:method name="*" propagation="REQUIRED" />
	    </tx:attributes>
	</tx:advice>

    <aop:config>
        <aop:pointcut id="serviceOperation" expression="execution(* com.win2er.jmonitor.*Impl.*.*(..))" />
        <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceOperation" />
    </aop:config>

	<bean id="baseDao" class="com.win2er.jmonitor.daoImpl.UserDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!-- Service -->
	<bean id="userManager" class="com.win2er.jmonitor.serviceImpl.UserManagerImpl">
		<property name="dao">
			<ref bean="baseDao" />
		</property>
	</bean>

	<!-- Action -->
	<bean id="regAction" class="com.win2er.jmonitor.action.RegisterAction">
		<property name="userManager">
			<ref bean="userManager" />
		</property>
	</bean>

	<!-- more bean definitions go here -->

</beans>